# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
venv312/
.venv/
env/
secrets.json

# Environment files
.env
.env.*

# IDEs
.vscode/
.idea/

# Flask/FastAPI
instance/
.webassets-cache

# Logs
*.log

# OS
.DS_Store
Thumbs.db
